</body>
<footer>
  <div class="links">
    <a href="https://github.com/Bacellexel">Github</a>
    <a href="https://twitter.com/Bacellexel">Twitter</a>
    <a href="https://trello.com/b/Zgfft5pn/qiang">Trello</a>
    <a href="#">Email</a>
  </div>
  <div class="copyright">
    Copyright &copy; 2019 Sebastien B.
  </div>
</footer>

</html>
