<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Qiáng</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="/imgs/favicon.ico"/>
</head>

<body>

  <div class="top">
    <div class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <img src="imgs/dcord_logo.png" class="logo" />
    </div>

    <h1 class="top-title">強 Qiáng</h1>
    <p>The <u>best</u> self-hosted DISCORD bot out there</p>
    <a href="https://github.com/Bacellexel/qiang" class="download-btn">Get now!</a>
  </div>
